
<ion-content>
  <div id="total">
    <div id="header">
      <!-- <img src="../assets/imgs/logo.png" alt=""> -->
      <div style="text-align:center;width:100%;">我爱我家后台管理系统</div>
      <!-- <div class="btn">
          <button><ion-icon name="md-settings"></ion-icon>设置</button>
          <button (click)="goLogin()"><i class="iconfont icon-ai240"></i>安全退出</button>
      </div> -->
      <div class="btn" style="position: absolute;margin-left:20px;">
          <ul>
              <li (click)="goLogin()"><i class="iconfont icon-ai240"></i>&nbsp;&nbsp;退出</li>
          </ul>
      </div>
    </div>
    <div class="left">
      <div>
        <img src="../assets/imgs/head/111112.png" alt="">
        <div>
            <span>{{managerName}}!<br><br>欢迎登录</span>
        </div>
      </div>
      <ul id="ul">
        <li (click)="fun(1)" class="li"><i class="iconfont icon-fonts-user"></i>管理员信息</li>
        <li (click)="fun(2)" class="li"><i class="iconfont icon-huodong"></i>用户信息</li>
        <li (click)="fun(3)" class="li"><i class="iconfont"></i>商品信息</li>
        <li (click)="fun(4)" class="li"><i class="iconfont"></i>资讯信息</li>
        <li (click)="fun(5)" class="li"><i class="iconfont"></i>销售信息</li>
        <li (click)="fun(6)" class="li"><i class="iconfont"></i>出库登记</li>
        <li (click)="fun(7)" class="li"><i class="iconfont icon-pinglun"></i>评论管理</li>
      </ul>
    </div>


    <div class="right" [ngSwitch]="num">
      
      <!-- 1管理员模块 -->
        <div *ngSwitchCase="1" class="div">

            <div id="searchone">
                <select id="select1" [(ngModel)]="typeTextone" (focus)="clear()">
                    <option value="all">全部</option>
                    <option value="phone">手机号</option>
                    <option value="sex">性别</option>
                    <option value="id">ID号</option>
                </select>
                <input type="text" [(ngModel)]="textone" placeholder="请输入搜索内容" class="search">
                <i class="iconfont icon-sousuo" (click)="searchone()"></i>
                <button id="new" (click)="newManager()" style="color:white;background-color:#5f9ea0;width:80px;height:40px;border-radius:5px;float:right;margin-right:50px;">新建</button>
            </div>
            <div class="biao1">
              <table  width="100%" border="0" cellspacing="0" cellpadding="0" id="table1">
                <tr>
                  <th>ID</th>
                  <th>姓名</th>
                  <th>性别</th>
                  <th>电子邮箱</th>
                  <th>联系方式</th>
                  <th>是否禁用</th>
                  <th>账号操作</th>
                </tr>
                <tr *ngFor="let item of manager;let i=index" id="tr">

                  <td>{{item.managerID}}</td>
                  <td>{{item.managerName}}</td>
                  <td>{{item.sex}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.phoneNum}}</td>
                  <td class="isForbid">{{item.isForbid}}</td>
                  <td>
                    <button class="freeze" (click)="freeze(i)"><i class="iconfont icon-snow"></i>冻结</button>&nbsp;|&nbsp;
                    <button class="unfreeze" (click)="unfreeze(i)"><i class="iconfont icon-lock-open"></i>解冻</button>&nbsp;|&nbsp;
                    <button >修改</button>&nbsp;|&nbsp;
                    <button (click)="managerDelete(i)"><i class="iconfont icon-shanchu"></i>删除</button>
                  </td>
                </tr>
              </table>
            </div>
        </div>

        <!-- 2用户管理 -->
        <div *ngSwitchCase="2" class="div">
          <div id="searchtwo">
            <select id="select2" [(ngModel)]="typeTexttwo" (focus)="clear()">
                <option value="all" selected="selected">全部</option>
                <option value="id">ID号</option>
            </select>
            <input type="text" [(ngModel)]="texttwo" placeholder="请输入搜索内容" class="search">
            <i class="iconfont icon-sousuo" (click)="searchtwo()"></i>
          </div>
          <div class="biao2">
            <table  width="100%" border="0" cellspacing="0" cellpadding="0" id="table2">
              <tr>
                <th>ID</th>
                <th>用户名称</th>
                <th>性别</th>
                <th>联系电话</th>
                <th>**</th>
                <th>**</th>
              </tr>
              <tr *ngFor="let item of user;let i=index" id="tr">
                <td></td>
                <td></td>
                <td><button>[详情]</button></td>
                <td><button>[详情]</button></td>
                <td><button>[详情]</button></td>
                <td><button>[详情]</button></td>
                <!-- <td><button (click)="ucheck(i)">查看详情</button>&nbsp;|&nbsp;<button class="freeze" (click)="freeze(i)">冻结账号</button>&nbsp;|&nbsp;<button class="unfreeze" (click)="unfreeze(i)">解冻账号</button></td> -->
              </tr>
            </table>
          </div>
        </div>

        <!-- 3商品 -->
        <div *ngSwitchCase="3" class="div">
            <div id="searchthree">
                <select id="select3" [(ngModel)]="typeTextfour" (focus)="clear()" >
                    <option value="all" selected = "selected">全部</option>
                    <option value="projectID">作品ID</option>
                    <option value="palce">地点</option>
                </select>
                <input type="text" [(ngModel)]="textfour" placeholder="请输入搜索内容" class="search">
                <i class="iconfont icon-sousuo" (click)="searchfour()"></i>
                <button (click)="createOproject()" style="color:white;background-color:#5f9ea0;width:80px;height:40px;border-radius:5px;float:right;margin-right:50px;">创建</button>
              </div>
              <div class="biao3">
                <table  border="0" cellspacing="0" cellpadding="0" id="table3" width="100%">
                  <tr width="100%">
                    <th style="width:5%;">ID</th>
                    <th style="width:10%;">标题</th>
                    <th style="width:5%;">一类</th>
                    <th style="width:5%;">二类</th>
                    <th style="width:8%;">三类</th>
                    <th style="width:20%;">描述文本</th>
                    <th style="width:3%;">图片</th>
                    <th style="width:3%;">价格</th>
                    <th style="width:3%;">售出</th>
                    <th style="width:3%;">库存</th>
                    <th  style="width:26%;">操作</th>
                  </tr>
                  <tr *ngFor="let item of productInfo;let i=index" id="tr">
                    <td class="productID">{{item.productID}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.parentType}}</td>
                    <td>{{item.childType}}没写</td>
                    <td>{{item.detailType}}</td>
                    <td style="width:5%;height:80px;padding:15px;padding-top:30px;">{{item.describeText}}</td>
                    <td>
                      <button (click)="productDetail(item.productID)">查看</button>
                    </td>
                    <td>{{item.price}}</td>
                    <td>{{item.soldNum}}</td>
                    <td>{{item.stockNum}}</td>
                    <td>
                      <!-- <button (click)="opcheck(i)"><i class="iconfont icon-chakan"></i>详情</button>&nbsp;|&nbsp; -->
                      <button>修改</button>&nbsp;|&nbsp;
                      <button (click)="opdelete(i)"><i class="iconfont icon-shanchu"></i>删除</button>&nbsp;&nbsp;
                      </tr>
                </table>
              </div>
        </div>

        <!-- 4资讯管理 -->
        <div *ngSwitchCase="4" class="div">
            <div id="searchseven">
                <select id="select7" [(ngModel)]="typeTextseven" (focus)="clear()">
                    <option value="all">全部</option>
                    <option value="theme">主题</option>
                    <option value="time">时长</option>
                    <option value="hsID">日程ID</option>
                </select>
                <input type="text" [(ngModel)]="textseven" placeholder="请输入搜索内容" class="search">
                <i class="iconfont icon-sousuo" (click)="searchseven()"></i>
                <button id="new" (click)="newHS()">新建</button>
            </div>
            <div class="biao7">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table7">
                  <tr>
                    <th>资讯id</th>
                    <th>资讯标题</th>
                    <th>资讯内容</th>
                    <th>图片</th>
                    <th>操作</th>
                  </tr>
                  <tr *ngFor="let item of homeSchedule;let i=index" id="tr">
                    <td>{{i+1}}</td>
                    <td>{{item.hsID}}</td>
                    <td>{{item.theme}}</td>
                    <td>{{item.time}}</td>
                    <td><button (click)="homeScheduleCheck(i)"><i class="iconfont icon-chakan"></i>查看详情</button></td>
                  </tr>
                </table>
            </div>
          <!-- <input type="file" id="inp" name="picture">
          <button id="btn" (click)="upload()">上传</button>
          <img id="img" src="../assets/imgs/head/111111.png" alt=""> -->
        </div>

        <!-- 5销售信息 -->
        <div *ngSwitchCase="5" class="div">
          <div id="searchthree">
            <select id="select3" [(ngModel)]="typeTextfive" (focus)="clear()" width="100%">
                <option value="all" selected = "selected">全部</option>
                <option value="projectID">作品ID</option>
                <option value="userID">用户ID</option>
                <option value="palce">地点</option>
            </select>
            <input type="text" [(ngModel)]="textfive" placeholder="请输入搜索内容" class="search">
            <i class="iconfont icon-sousuo" (click)="searchfive()"></i>
          </div>
          <div class="biao3">
            <table  border="0" cellspacing="0" cellpadding="0" id="table3" width="100%">
              <tr>
                <th style="width:5%;">序号</th>
                <th style="width:7%;">用户ID</th>
                <th style="width:7%;">作品ID</th>
                <th style="width:25%;">活动内容</th>
                <!-- <th style="width:5%;">地点</th> -->
                <!-- <th style="width:10%;">主题</th> -->
                <!-- <th style="width:10%;">时间</th> -->
                <th style="width:5%;">点赞数</th>
                <th style="width:5%;">收藏数</th>
                <th style="width:5%;">评论数</th>
                <th>操作</th>
              </tr>
              <tr *ngFor="let item of homeProject;let i=index" id="tr">
                <td style="width:5%;">{{i+1}}</td>
                <td style="width:7%;">{{item.ID}}</td>
                <td style="width:7%;">{{item.pID}}</td>
                <td style="width:25%;height:100px;padding:15px;padding-top:30px;">{{item.text}}</td>
                <!-- <td style="width:5%;">{{item.place}}上海</td> -->
                <!-- <td style="width:10%;">{{item.keyword}}</td> -->
                <!-- <td style="width:10%;">{{item.time.substr(0,10)+" "+item.time.substr(11,8)}}</td> -->
                <td style="width:5%;">{{item.zan}}</td>
                <td style="width:5%;">{{item.collect}}</td>
                <td style="width:5%;">{{item.comment}}</td>
                <td>
                  <button (click)="upcheck(i)"><i class="iconfont icon-chakan"></i>查看详情</button>&nbsp;|&nbsp;
                  <button (click)="updelete(i)"><i class="iconfont icon-shanchu"></i>删除</button>&nbsp;&nbsp;
                  <button (click)="uppush(i)"> <ion-icon name="send"></ion-icon>推送</button>&nbsp;&nbsp;
              </tr>
            </table>
          </div>
        </div>

        <!-- 6出库登记-->
        <div *ngSwitchCase="6" class="div">
          <div id="searchthree">
            <select id="select3" [(ngModel)]="typeTextthree" (focus)="clear()" >
                <option value="all" selected = "selected">全部</option>
                <option value="projectID">作品ID</option>
                <option value="用户ID">用户ID</option>
                <option value="palce">地点</option>
            </select>
            <input type="text" [(ngModel)]="textthree" placeholder="请输入搜索内容" class="search">
            <i class="iconfont icon-sousuo" (click)="searchthree()"></i>
          </div>
          <div class="biao3">
            <table  border="0" cellspacing="0" cellpadding="0" id="table3" width="100%">
              <tr>
                <th>序号</th>
                <th>作品ID</th>
                <th>用户ID</th>
                <th>活动内容</th>
                <th>地点</th>
                <th>主题</th>
                <!-- <th>时间</th> -->
                <th>点赞数</th>
                <th>收藏数</th>
                <th>评论数</th>
                <th>操作</th>
              </tr>
              <tr *ngFor="let item of homeProject;let i=index" id="tr">
                <td style="width:5%;">{{i+1}}</td>
                <td style="width:7%;">{{item.projectID}}</td>
                <td style="width:7%;">{{item.userID}}</td>
                <td style="width:25%;height:100px;padding:15px;padding-top:30px;">{{item.context}}</td>
                <td style="width:5%;">{{item.place}}上海</td>
                <td style="width:10%;">{{item.keyword}}</td>
                <!-- <td style="width:10%;">{{item.time.substr(0,10)+" "+item.time.substr(11,8)}}</td> -->
                <td style="width:5%;">{{item.zan}}</td>
                <td style="width:5%;">{{item.collection}}</td>
                <td style="width:5%;">{{item.comment}}</td>
                <td>
                  <button (click)="pcheck(i)"><i class="iconfont icon-chakan"></i>查看详情</button>&nbsp;|&nbsp;
                  <button (click)="pdelete(i)"><i class="iconfont icon-shanchu"></i>删除</button>&nbsp;&nbsp;
              </tr>
            </table>
          </div>
        </div>

        <!-- 7评论模块 -->
        <div *ngSwitchCase="7" class="div">
            <div id="searchthree">
                <select id="select3" [(ngModel)]="typeTextnine" (focus)="clear()" >
                    <option value="all" selected = "selected">全部</option>
                    <option value="projectID">作品ID</option>
                    <option value="userID">用户ID</option>
                </select>
                <input type="text" [(ngModel)]="textnine" placeholder="请输入搜索内容" class="search">
                <i class="iconfont icon-sousuo" (click)="searchnine()"></i>
              </div>
              <div class="biao3">
                <table  border="0" cellspacing="0" cellpadding="0" id="table3" width="100%">
                  <tr>
                    <th>序号</th>
                    <th>用户ID</th>
                    <th>作品ID</th>
                    <th>评论内容</th>
                    <th>操作</th>
                  </tr>
                  <tr *ngFor="let item of comment;let i=index" id="tr">
                    <td style="width:10%;">{{i+1}}</td>
                    <td style="width:15%;">{{item.CommentUserID}}</td>
                    <td style="width:15%;">{{item.ProjectID}}</td>
                    <td style="width:25%;height:100px;padding:15px;padding-top:30px;">{{item.CommentText}}</td>
                    <td style="width:20%;">
                      <button (click)="commentdelete(i)"><i class="iconfont icon-shanchu"></i>删除</button>&nbsp;&nbsp;
                  </tr>
                </table>
              </div>
        </div>
        
    </div>
  </div>
</ion-content>
