
<ion-content>
  <div id="total">
    <div id="header">
      <div style="text-align:center;width:100%;">我爱我家后台管理系统</div>
      <div class="btn" style="position: absolute;margin-left:20px;">
          <ul>
              <li (click)="goLogin()"><i class="iconfont icon-ai240"></i>&nbsp;&nbsp;退出</li>
          </ul>
      </div>
    </div>
    <div class="left">
      <div>
        <img src="../assets/imgs/head/admin.jpg" alt="">
        <div>
            <span>{{managerName}}!<br><br>欢迎登录</span>
        </div>
      </div>
      <ul id="ul">
        <li (click)="fun(1)" class="li"><i class="iconfont"></i>管理员信息</li>
        <li (click)="fun(2)" class="li"><i class="iconfont"></i>用户信息</li>
        <li (click)="fun(3)" class="li"><i class="iconfont"></i>商品信息</li>
        <li (click)="fun(4)" class="li"><i class="iconfont"></i>资讯信息</li>
        <li (click)="fun(5)" class="li"><i class="iconfont"></i>销售信息</li>
        <li (click)="fun(6)" class="li"><i class="iconfont"></i>出库登记</li>
      </ul>
    </div>


    <div class="right" [ngSwitch]="num">
        <p id="p" style="text-align: center;font-size: 30px;margin-top:15%;">欢迎登录我爱我家后台管理系统！<br><br>开始工作吧！
        </p>
      <!-- 1管理员模块-->
        <div *ngSwitchCase="1" class="div">
            <div id="searchthree">
                <select id="select1" [(ngModel)]="typeTextone" (focus)="clear()">
                    <option value="all">全部</option>
                    <option value="phone">手机号</option>
                    <option value="sex">性别</option>
                    <option value="id">ID号</option>
                </select>
                <input type="text" [(ngModel)]="textone" placeholder="请输入搜索内容" class="search">
                <i class="iconfont icon-sousuo" (click)="searchone()"></i>
                <button (click)="newManager()" style="color:white;background-color:#5f9ea0;width:80px;height:40px;border-radius:5px;float:right;margin-right:50px;">新建</button>
            </div>
            <div class="biao1">
              <table  width="100%" border="0" cellspacing="0" cellpadding="0" id="table1">
                <tr>
                  <th>ID</th>
                  <th>姓名</th>
                  <th>性别</th>
                  <th>电子邮箱</th>
                  <th>联系方式</th>
                  <th>是否禁用</th>
                  <th>账号操作</th>
                </tr>
                <tr *ngFor="let item of manager;let i=index" id="tr">

                  <td>{{item.managerID}}</td>
                  <td>{{item.managerName}}</td>
                  <td>{{item.sex}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.phoneNum}}</td>
                  <td class="isForbid">{{item.isForbid}}</td>
                  <td>
                    <!-- 图标<i class="iconfont icon-snow"></i><i class="iconfont icon-lock-open"></i> <i class="iconfont icon-shanchu"></i>-->
                    <button class="freeze" (click)="freeze(i)">冻结</button>&nbsp;|&nbsp;
                    <button class="unfreeze" (click)="unfreeze(i)">解冻</button>&nbsp;|&nbsp;
                    <button  (click)="managerRevise(item.managerID)">修改</button>&nbsp;|&nbsp;
                    <button (click)="managerDelete(i)">删除</button>
                  </td>
                </tr>
              </table>
            </div>
        </div>

        <!-- 2用户管理-->
        <div *ngSwitchCase="2" class="div">
          <div id="searchthree">
            <select id="select2" [(ngModel)]="typeTexttwo" (focus)="clear()">
                <option value="all" selected="selected">全部</option>
                <option value="id">ID号</option>
                <option value="name">姓名</option>
            </select>
            <input type="text" [(ngModel)]="texttwo" placeholder="请输入搜索内容" class="search">
            <i class="iconfont icon-sousuo" (click)="searchtwo()"></i>
          </div>
          <div class="biao2">
            <table  width="100%" border="0" cellspacing="0" cellpadding="0" id="table2">
              <tr>
                <th>ID</th>
                <th>用户姓名</th>
                <th>性别</th>
                <th>出生日期</th>
                <th>居住地</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
              <tr *ngFor="let item of user;let i=index" id="tr">
                <td>{{item.userID}}</td>
                <td>{{item.userName}}</td>
                <td>{{item.sex}}</td>
                <td>{{item.birthday}}</td>
                <td>{{item.location}}</td>
                <td class="userStatus">{{item.status}}</td>
                <td>
                  <button class="freeze" (click)="freezeUser(i)">冻结</button>&nbsp;&nbsp;|
                  <button class="unfreeze" (click)="unfreezeUser(i)">解冻</button></td>
              </tr>
            </table>
          </div>
        </div>

        <!-- 3商品查询 -->
        <div *ngSwitchCase="3" class="div">
            <div id="searchthree"> 
                <select id="select3" [(ngModel)]="typeTextthree" (focus)="clear()" >
                    <option value="all" selected = "selected">全部</option>
                    <option value="productID">商品ID</option>
                    <option value="title">标题</option>
                    <option value="parentType">属性分类</option>
                </select>
                <input type="text" [(ngModel)]="textthree" placeholder="请输入搜索内容" class="search">
                <i class="iconfont icon-sousuo" (click)="searchthree()"></i>
                <button (click)="createProduct()" style="color:white;background-color:#5f9ea0;width:80px;height:40px;border-radius:5px;float:right;margin-right:50px;">创建</button>
            </div>
              <div class="biao3">
                <table  border="0" cellspacing="0" cellpadding="0" id="table3" width="100%">
                  <tr width="100%">
                    <th style="width:10%;">ID</th>
                    <th style="width:10%;">标题</th>
                    <th style="width:5%;">父类</th>
                    <th style="width:5%;">子类</th>
                    <th style="width:8%;">规格</th>
                    <th style="width:20%;">描述文本</th>
                    <th style="width:3%;">图片</th>
                    <th style="width:5%;">价格/元</th>
                    <th style="width:3%;">售出</th>
                    <th style="width:3%;">库存</th>
                    <th  style="width:18%;">操作</th>
                  </tr>
                  <tr *ngFor="let item of productInfo;let i=index" id="tr">
                    <td class="productID">{{item.productID}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.parentType}}</td>
                    <td>{{item.childType}}</td>
                    <td>{{item.type}}</td>
                    <td style="width:5%;height:80px;padding:15px;padding-top:30px;">{{item.describeText}}</td>
                    <td>
                      <button (click)="productDetail(item.productID)">查看</button>
                    </td>
                    <td>{{item.price}}</td>
                    <td>{{item.soldNum}}</td>
                    <td>{{item.stockNum}}</td>
                    <td>
                      <!-- 图标<i class="iconfont icon-shanchu"></i> -->
                      <!-- <button (click)="opcheck(i)"><i class="iconfont icon-chakan"></i>详情</button>&nbsp;|&nbsp; -->
                      <button>修改</button>&nbsp;|&nbsp;
                      <button (click)="productDelete(i)">删除</button>&nbsp;&nbsp;
                      </tr>
                </table>
              </div>
        </div>

        <!-- 4资讯管理  -->
        <div *ngSwitchCase="4" class="div">
            <div id="searchthree">
                <select id="select7" [(ngModel)]="typeTextfour" (focus)="clear()">
                    <option value="all">全部</option>
                    <option value="type">类型</option>
                    <option value="title">标题</option>
                </select>
                <input type="text" [(ngModel)]="textfour" placeholder="请输入搜索内容" class="search">
                <i class="iconfont icon-sousuo" (click)="searchfour()"></i>
                <button (click)="createNews()" style="color:white;background-color:#5f9ea0;width:80px;height:40px;border-radius:5px;float:right;margin-right:50px;">新建</button>
            </div>
            <div class="biao7">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table7">
                  <tr>
                    <th>资讯ID</th>
                    <th>资讯类型</th>
                    <th>标题</th>
                    <th>内容</th>
                    <th>图片</th>
                    <th>时间</th>
                    <th>操作</th>
                  </tr>
                  <!--  -->
                  <tr *ngFor="let item of news;let i=index" id="tr">
                    <td>{{item.newsID}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.title}}</td>
                    <td>
                      <button (click)="newsTexr(item.newsID)">查看</button>
                    </td>
                    <td>
                      <button  (click)="newsImg(item.newsID)">查看</button>
                    </td>
                    <td class="newsTime">{{item.time.substring(0,10)}} {{item.time.substring(11,16)}}</td>
                    <td>
                      <button  (click)="newsDelete(i)">删除</button>
                    </td>
                  </tr>
                </table>
            </div>
        </div>

        <!-- 5销售信息 -->
        <div *ngSwitchCase="5" class="div">
          <div id="searchthree">
            <select id="select5" [(ngModel)]="typeTextfive" (focus)="clear()" width="100%">
                <option value="all">全部</option>
                <option value="childType">分类</option>
                <option value="title">标题</option>
                <option value="productID">ID号</option>
            </select>
            <input type="text" [(ngModel)]="textfive" placeholder="请输入搜索内容" class="search">
            <i class="iconfont icon-sousuo" (click)="searchfive()"></i>
            <button style="font-size:24px;color:black;width:200px;height:50px;border-radius:5px;float:right;margin-right:50px;">共{{allprice}}元</button>
          </div>
          <div class="biao3">
            <table  border="0" cellspacing="0" cellpadding="0" id="table3" width="100%">
              <tr>
                <th style="width:10%;">商品ID</th>
                <th style="width:25%;">商品标题</th>
                <th>分类</th>
                <th>规格/元</th>
                <th>价格</th>
                <th>售出数量</th>
                <th>总价/元</th>
                
              </tr>
              <tr *ngFor="let item of sales;let i=index" id="tr" style="height:70px;">
                <td>{{item.productID}}</td>
                <td>{{item.title}}</td>
                <td>{{item.childType}}</td>
                <td>{{item.type}}</td>
                <td>{{item.price}}</td>
                <td>{{item.soldNum}}</td>
                <td class="calpirce">{{item.price*item.soldNum}}</td>
              </tr>
            </table>
          </div>
        </div>

        <!-- 6出库登记-->
        <div *ngSwitchCase="6" class="div">
          <div  id="searchthree">
            <select id="select3" [(ngModel)]="typeTextsix" (focus)="clear()" >
                <option value="all">全部</option>
                <option value="orderStatus">订单状态</option>
                <option value="userID">用户ID</option>
                <option value="productID">商品标题</option>
            </select>
            <input type="text" [(ngModel)]="textsix" placeholder="请输入搜索内容" class="search">
            <i class="iconfont icon-sousuo" (click)="searchsix()"></i>
          </div>
          <div class="biao3">
            <table  border="0" cellspacing="0" cellpadding="0" id="table3" width="100%">
              <tr>
                <th>订单编号</th>
                <th>用户ID</th>
                <th>商品ID</th>
                <th>数量</th>
                <th>规格型号</th>
                <th>创建时间</th>
                <th>收货地址</th>
                <th>订单状态</th>
                <th>库存数量</th>
                <th>售出数量</th>
                <th>操作</th>
              </tr>
              <tr *ngFor="let item of orders;let i=index" id="tr" style="height:70px;line-height:60px;text-align:center;font-size:18px;">
                <td>{{item.orderNumber}}</td>
                <td>{{item.userID}}</td>
                <td>{{item.productID}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.type}}</td>
                <td>{{item.createTime.substring(0,10)}} {{item.createTime.substring(11,16)}}</td>
                <td>{{item.address}}</td>
                <td class="orderstatus">{{item.orderStatus}}</td>
                <td class="stockNum">{{item.stockNum}}</td>
                <td class="soldNum">{{item.soldNum}}</td>
                <td>
                  <button (click)="out(i)">出库</button>
              </tr>
            </table>
          </div>
        </div>

    </div>
  </div>
</ion-content>
